<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.balloro.treasure.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/grigorydorin/Library/Application Support/Balloro Treasure/field-generator-server.py</string>
    <string>--port</string>
    <string>8768</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/grigorydorin/Library/Application Support/Balloro Treasure</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>3</integer>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/grigorydorin/Library/Application Support/Balloro Treasure/balloro-server.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/grigorydorin/Library/Application Support/Balloro Treasure/balloro-server-error.log</string>
</dict>
</plist>
